<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <!--
        suppress the following log, we need it to suppress logs before and after the spring banner
            14:22:19.361 [main] WARN  org.springframework.boot.logging.logback.LogbackLoggingSystem - Ignoring 'logback.configurationFile' system property. Please use 'logging.config' instead.
    -->
    <logger name="org.springframework.boot.logging.logback.LogbackLoggingSystem" level="off"/>

    <!--
        suppress unreadable huge logs..
    -->
    <logger name="org.springframework.test" level="warn"/>
    <logger name="org.springframework.boot.test" level="warn"/>


</configuration>
