name: Release

on:
  workflow_dispatch:
    inputs:
      versionType:
        description: 'Version type increment (major | minor)'
        required: true
        type: choice
        options:
          - major
          - minor

jobs:
  run-release:
    uses: powsybl/github-ci/.github/workflows/release-backend-lib-generic.yml@3ed0caeb3395e55868884f466d726ddaee877850
    with:
      githubappId: ${{ vars.POWSYBL_ACTIONS_APPID }}
      versionType: ${{ github.event.inputs.versionType }}
    secrets:
      githubappPrivateKey: ${{ secrets.POWSYBL_ACTIONS_SECRET }}
